{% extends 'layout.html.twig' %}

{% block main %}
    <h2>Que devez-vous faire avant de mourir ?</h2>

    <p>{{ wishesCount }} idées au total !</p>

    <h3>Les 5 dernières idées</h3>
    {% for wish in wishes %}
        {% include('inc/wish_article.html.twig') %}
    {% endfor %}

{% endblock %}

{% block title %}{{ parent() }} | Accueil{% endblock %}