{% extends 'layout.html.twig' %}

{% block title %}
    Modifier une idée !
{% endblock %}

{% block main %}
    <h2>Modifier une idée !</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Modifier !</button>
    {{ form_end(form) }}
{% endblock %}






